.header {
  background-color: #f3a20a;
}

.menubar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: end;
  align-items: center;
}

.menu a {
  padding: 10px;
  text-decoration: none;
}
