.header {
  padding: 10px;
  background-color: #f3a20a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  display: flex;
  justify-content: end;
  align-items: center;
}
