.product-items {
  display: flex;
  justify-content: space-between;
}
.product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 80%;
}

.item img {
  width: 100%;
  height: 240px;
}

.cart {
  width: 20%;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 20px;
}

.sticky h3 {
  margin-top: 0px;
}

.cart-img {
  width: 50px;
  height: 30px;
}

.selected-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  border: 1px solid purple;
  padding: 5px;
  background-color: #777;
}

.button-action button {
  display: block;
  width: 50%;
  margin: 5px auto;
  padding: 10px;
}
