.product-items {
  display: flex;
  justify-content: space-between;
}

.product {
  width: 80%;
}
.product-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.item img {
  width: 100%;
  height: 240px;
}

.cart {
  width: 20%;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 20px;
}

.sticky h3 {
  margin-top: 0px;
}

.cart-img {
  width: 50px;
  height: 30px;
}

.selected-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  border: 1px solid purple;
  padding: 5px;
  background-color: #777;
}

.button-action button {
  display: block;
  width: 50%;
  margin: 5px auto;
  padding: 10px;
}

.random {
  padding: 2px;
  background-color: #074b57;
  border: 2px solid #800080;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.random img {
  width: 60px;
  height: 35px;
}

img {
  width: 100%;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 769px) {
  .container {
    width: 100%;
  }
}
